{{ $dataCategories:= slice "pub-all"}}
{{ range .categories}}
  {{ $dataCategories = $dataCategories | append (printf "pub-%s" .)}}
{{end}}

<div
  class="col-12 p-2 pub-filtr-item"
  data-category='{{ delimit $dataCategories ","}}'
>
  <div class="card mt-3">
    <div class="card-header">
      <h5 class="card-title mb-0">{{ .title }}</h5>
      <div class="sub-title">
        {{ if .publishedIn.url }}
        <span><a class="" href="{{.publishedIn.url}}">{{ .publishedIn.name }}</a></span>
        {{ else }}
        <span>{{ .publishedIn.name }}</span>
        {{ end }}
        <span class="ml-2">{{ .publishedIn.date }}</span>
      </div>
      <div class="authors">
        {{ range $index,$author:= .authors }}
          {{ if .url }}
            <span class="mr-2"><a class="" href="{{.url}}">{{ .name }}</a></span>
          {{ else }}
            <span class="mr-2">{{ .name }}</span>
          {{ end }}
        {{ end }}
      </div>
    </div>
    <div class="card-body">
      <p>{{ .paper.summary | markdownify }}</p>
    </div>
    <div class="card-footer">
      <div class="tags">
        {{ range $index,$tag:= .tags }}
            <span class="btn badge btn-info ml-1 p-2">
              {{ $tag }}
            </span>
        {{ end }}
      </div>
      <div class="pdf-btn">
        {{ if .paper.pdf }}
          {{ $pdf:= resources.Get .paper.pdf}}
          <a class="btn btn-outline-info ml-1 pl-2 mb-2" href="{{ $pdf.RelPermalink }}" target="_blank" rel="noopener" role="button">{{ i18n "pdf"}}</a>
        {{ end }}
        {{ if .paper.slides }}
          {{ $slides:= resources.Get .paper.slides}}
          <a class="btn btn-outline-info ml-1 pl-2 mb-2" href="{{ $slides.RelPermalink }}" target="_blank" rel="noopener" role="button">{{ i18n "slides"}}</a>
        {{ end }}
        {{ if .paper.url }}
          <a class="btn btn-outline-info ml-1 pl-2 mb-2" href="{{ .paper.url }}" target="_blank" rel="noopener" role="button">{{ i18n "project_details"}}</a>
        {{ end }}
      </div>
    </div>
  </div>
</div>
